.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.team1 {
  padding: 20px;
  display: inline-block;
  float: left;
}
.team2 {
  padding: 20px;
  display: inline-block;
  float: right;
}
.AFG {
  background-image: url(../img/teams/AFG.png);
}
.AUS {
  background-image: url(../img/teams/AUS.png);
}
.BAN {
  background-image: url(../img/teams/BAN.png);
}
.ENG {
  background-image: url(../img/teams/ENG.png);
}
.IND {
  background-image: url(../img/teams/IND.png);
}
.NZ {
  background-image: url(../img/teams/NZ.png);
}
.PAK {
  background-image: url(../img/teams/PAK.png);
}
.RSA {
  background-image: url(../img/teams/RSA.png);
}
.SL {
  background-image: url(../img/teams/SL.png);
}
.TBA {
  background-image: url(../img/teams/TBA.png);
}
.WI {
  background-image: url(../img/teams/WI.png);
}
.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 180px;
  height: 180px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.drinkcard-cc-img {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 180px;
  height: 180px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.drinkcard-cc-lbl {
  cursor: pointer;
  display: inline-block;
  color: black;
  font-weight: none;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.drinkcard-cc-lbl:hover {
  color: green;
  font-weight: none;
  cursor: pointer;
  display: inline-block;
}
.cc-selector input:disabled + .drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 180px;
  height: 180px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
@media screen and (max-width: 760px) {
  .drinkcard-cc {
    width: 85px;
    height: 85px;
  }
  .drinkcard-cc-img {
    width: 85px;
    height: 85px;
  }

  .cc-selector input:disabled + .drinkcard-cc {
    width: 85px;
    height: 85px;
  }
}
/* Extras */
a:visited {
  color: #888;
}
a {
  color: #444;
  text-decoration: none;
}
p {
  margin-bottom: 0.3em;
}
input[type="radio"] {
  display: none;
}
.drinkcard-cc-checked {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 180px;
  height: 180px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
@media screen and (max-width: 760px) {
  .drinkcard-cc-checked {
    width: 85px;
    height: 85px;
  }
  .drinkcard-cc-img {
    width: 85px;
    height: 85px;
  }

  .cc-selector input:disabled + .drinkcard-cc {
    width: 85px;
    height: 85px;
  }
}
